body {
    background-color: #282c34;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    background-color: #c2b9b9;
    margin: 0 auto;
    padding: 3em 0;
}

.game-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.die {
    width: 75px;
    height: 75px;
    background: #ffffff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ahhnicecolorpicker {
    color: #3926a3;
}
